<!DOCTYPE html>
<html>
<head>
	<title>Companies Layers</title>
	<style type="text/css">
        #map_container {
            position: relative;
            width: 75%;
            height: 100%;
            min-width: 1000px;
            min-height: 600px;
            padding-bottom: 0px !important;
            float: left;
        }
        .my-legend .legend-title {
            text-align: left;
            margin-bottom: 5px;
            font-weight: bold;
            font-size: 90%;
        }
        .my-legend .legend-scale ul {
            margin: 0;
            margin-bottom: 5px;
            padding: 0;
            float: left;
            list-style: none;
        }
        .my-legend .legend-scale ul li {
            font-size: 80%;
            list-style: none;
            margin-left: 0;
            line-height: 18px;
            margin-bottom: 2px;
        }
        .my-legend ul.legend-labels li span.color {
            display: block;
            float: left;
            height: 16px;
            width: 30px;
            margin-right: 5px;
            margin-left: 0;
            border: 1px solid #999;
        }
        .my-legend .legend-source {
            font-size: 70%;
            color: #999;
            clear: both;
        }
        .my-legend a {
            color: #777;
        }

        #google_map_container {
            margin-top: 100px;
            width: 100%;
            float: left;
        }
    </style>
	<script type="text/javascript" src="{{ url_for('static', filename='libs/d3.v3.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='libs/topojson.v1.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='libs/datamaps.world.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='libs/jquery.2.1.4.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='libs/rainbowvis.js') }}"></script>
	<script type="text/javascript">
		var SCRIPT_ROOT = {{ request.url_root|tojson|safe }};
		var data = {{ data|tojson|safe }};
		var map_data = {
			'bari': {
				'geo': 'grid_bari_edit_id.geojson',
				'scope': 'grid_bari_edit_id',
				'topo': 'bari_topojson.json',
				'center_polygon': 'sid_2321_3_2_0_1'
			},
			'milano': {
				'geo': 'grid_milano_edit_id.geojson',
				'scope': 'grid_milano_edit_id',
				'topo': 'milano_topojson.json',
				'center_polygon': 'sid_3950_3_1_2_1_2_1'
			},
			'napoli': {
				'geo': 'grid_napoli_edit_id.geojson',
				'scope': 'grid_napoli_edit_id',
				'topo': 'napoli_topojson.json',
				'center_polygon': 'sid_2026_3_2_0_2_0'
			},
			'palermo': {
				'geo': 'grid_palermo_edit_id.geojson',
				'scope': 'grid_palermo_edit_id',
				'topo': 'palermo_topojson.json',
				'center_polygon': 'sid_1275_3_2_3_1'
			},
			'roma': {
				'geo': 'grid_roma_edit_id.geojson',
				'scope': 'grid_roma_edit_id',
				'topo': 'roma_topojson.json',
				'center_polygon': 'sid_3420_0_2_3_0_2'
			},
			'torino': {
				'geo': 'grid_torino_edit_id.geojson',
				'scope': 'grid_torino_edit_id',
				'topo': 'torino_topojson.json',
				'center_polygon': 'sid_3877_1_3_3_1_0_0'
			},
			'venezia': {
				'geo': 'grid_venezia_edit_id.geojson',
				'scope': 'grid_venezia_edit_id',
				'topo': 'venezia_topojson.json',
				'center_polygon': 'sid_3693_0_0_0_2'
			},
		};

		$(function() {
            // format legend numbers
            $('ul.legend-labels li').each(function( index ) {
                var span_value = $(this).find('span.points').text();
                $(this).find('span.points').text(parseInt(span_value).toLocaleString('EN-US'));
            });
		});
	</script>
</head>
<body>

    <a id="companies_layers" href="{{ request.url_root|safe }}companies_layers/">Companies Layers</a> | 
	<a id="companies" href="{{ request.url_root|safe }}companies/">Companies</a> | 
	<a id="presence" href="{{ request.url_root|safe }}presence/">Presence</a>

	<br/>
	<br/>

	<div id="companies_layers_menu">
		<a href="{{ request.url_root|safe }}companies_layers/bari">Bari Layers</a> | 
		<a href="{{ request.url_root|safe }}companies_layers/milano">Milano Layers</a> | 
		<a href="{{ request.url_root|safe }}companies_layers/napoli">Napoli Layers</a> | 
		<a href="{{ request.url_root|safe }}companies_layers/palermo">Palermo Layers</a> | 
		<a href="{{ request.url_root|safe }}companies_layers/roma">Roma Layers</a> | 
		<a href="{{ request.url_root|safe }}companies_layers/torino">Torino Layers</a> | 
		<a href="{{ request.url_root|safe }}companies_layers/venezia">Venezia Layers</a>
	</div>

	<br/>
	<br/>
	<br/>

	<div id="map_container"></div>
    <div style="width: 25%; float: left">
        <div class='my-legend'>
            <div class='legend-title'>Business Points Per Layer in {{ data.area }}</div>
            <div class='legend-scale'>
                <ul class='legend-labels'>
                    <li>
                        <span id="first_lay" class="color"></span>
                        First Layer: <span class="points">{{ data.process_data[0][3] }}</span>
                    </li>
                    <li>
                        <span id="second_lay" class="color"></span>
                        Second Layer: <span class="points">{{ data.process_data[1][3] }}</span>
                    </li>
                    <li>
                        <span id="third_lay" class="color"></span>
                        Third Layer: <span class="points">{{ data.process_data[2][3] }}</span>
                    </li>
                    <li>
                        <span id="fourth_lay" class="color"></span>
                        Fourth Layer: <span class="points">{{ data.process_data[3][3] }}</span>
                    </li>
                    <li>
                        <span id="fifth_lay" class="color"></span>
                        Fifth Layer: <span class="points">{{ data.process_data[4][3] }}</span>
                    </li>
                    <li>
                        <span id="sixth_lay" class="color"></span>
                        Sixth Layer: <span class="points">{{ data.process_data[5][3] }}</span>
                    </li>
                    <li>
                        <span id="seventh_lay" class="color"></span>
                        Seventh Layer: <span class="points">{{ data.process_data[6][3] }}</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div id="google_map_container"></div>
	
    <script type="text/javascript">
    	function calc_centroid(geometries) {
            var x = 0;
            var y = 0;
            for (var i = 0; i < geometries.length - 1; i++) {
                x += geometries[i][0];
                y += geometries[i][1];
            }
            x /= geometries.length - 1;
            y /= geometries.length - 1;

            return [x, y];
        }

        function calc_distance(point1, point2) {
            var distance = Math.sqrt(Math.pow((point1[0] - point2[0]), 2) + Math.pow((point1[1] - point2[1]), 2));
            return distance;
        }

		var width = $('#map_container').width();
        var height = $('#map_container').height();
        $.getJSON('/static/geojson/' + map_data[data.city].geo, function(geojson_data) {
            map = new Datamap({
                element: document.getElementById('map_container'),
                responsive: true,
                scope: map_data[data.city].scope,
                geographyConfig: {
                    dataUrl: '/static/topojson/' + map_data[data.city].topo,
                    borderWidth: 0.2,
                },
                fills: {
                    defaultFill: '#C6DBEF'
                },
                setProjection: function(element, options) {
                    var projection = d3.geo.mercator().scale(1).translate([0,0]);
                    // create a path generator.
                    var path = d3.geo.path().projection(projection);
                    // compute bounds of a point of interest, then derive scale and translate
                    var b = path.bounds(geojson_data);
                    var s = .95 / Math.max((b[1][0] - b[0][0]) / width, (b[1][1] - b[0][1]) / height);
                    var t = [(width - s * (b[1][0] + b[0][0])) / 2, (height - s * (b[1][1] + b[0][1])) / 2];
                    // update the projection to use computed scale and translate....
                    projection.scale(s).translate(t);

                    return {path: path, projection: projection};
                },
                done: function(datamap) {
                    var site_colors = [];
                    var center_polygon_geometries = [];
                    var center_polygon_centroid = [];
                    var features = geojson_data.features;
                    for (var i = 0; i < features.length; i++) {
                        if (features[i].properties.id == map_data[data.city].center_polygon) {
                            center_polygon_geometries = features[i].geometry.coordinates[0];
                            break;
                        }
                    }
                    center_polygon_centroid = calc_centroid(center_polygon_geometries);

                    var polygon_geometries = [];
                    var polygon_centroid = [];
                    var distance = 0;
                    // layers radius
                    var layers_radius = [0.04, 0.08, 0.14, 0.22, 0.32, 0.44];

                    var domain = [];
                    for (var i = 0; i < data.process_data.length; i++) {
                        domain.push(data.process_data[i][3]);
                    }

                    var domain = domain.sort(
                        function (a, b) { 
                            return a - b;
                        }
                    );

                    var range = [];
                    var rainbow = new Rainbow();
                    rainbow.setNumberRange(0, domain.length);
                    rainbow.setSpectrum('#C6DBEF', 'darkblue');
                    for (var i = 0; i < domain.length + 1; i++) {
                        var hexColour = rainbow.colourAt(i);
                        range.push('#' + hexColour);
                    }
                    
                    var color = d3.scale.threshold()
                        .domain(domain)
                        .range(range);

                    for (var i = 0; i < features.length; i++) {
                        polygon_geometries = features[i].geometry.coordinates[0];
                        polygon_centroid = calc_centroid(polygon_geometries);
                        distance = calc_distance(center_polygon_centroid, polygon_centroid);

                        if (distance < layers_radius[0]) {

                            site_colors[features[i].properties.id] = color(data.process_data[0][3]);
                            $('#first_lay').css('background-color', color(data.process_data[0][3]));

                        } else if (distance >= layers_radius[0] && distance < layers_radius[1]) {

                            site_colors[features[i].properties.id] = color(data.process_data[1][3]);
                            $('#second_lay').css('background-color', color(data.process_data[1][3]));

                        } else if (distance >= layers_radius[1] && distance < layers_radius[2]) {

                            site_colors[features[i].properties.id] = color(data.process_data[2][3]);
                            $('#third_lay').css('background-color', color(data.process_data[2][3]));

                        } else if (distance >= layers_radius[2] && distance < layers_radius[3]) {

                            site_colors[features[i].properties.id] = color(data.process_data[3][3]);
                            $('#fourth_lay').css('background-color', color(data.process_data[3][3]));

                        } else if (distance >= layers_radius[3] && distance < layers_radius[4]) {

                            site_colors[features[i].properties.id] = color(data.process_data[4][3]);
                            $('#fifth_lay').css('background-color', color(data.process_data[4][3]));

                        } else if (distance >= layers_radius[4] && distance < layers_radius[5]) {

                            site_colors[features[i].properties.id] = color(data.process_data[5][3]);
                            $('#sixth_lay').css('background-color', color(data.process_data[5][3]));

                        } else {

                            site_colors[features[i].properties.id] = color(data.process_data[6][3]);
                            $('#seventh_lay').css('background-color', color(data.process_data[6][3]));

                        }
                    }

                    map.updateChoropleth(site_colors);
                    
                    // ====================================================================================

                    // GOOGLE MAP
                    var iframe = document.createElement('iframe');
                    iframe.setAttribute('style', 'width: 100%; height: 1000px');
                    iframe.onload = function() {
                        var doc = iframe.contentDocument;

                        iframe.contentWindow.initMap = function() {
                            var mapContainer =  doc.createElement('div');
                            mapContainer.setAttribute('style', 'width: 100%; height: 1000px');
                            doc.body.appendChild(mapContainer);

                            var mapOptions = {
                                center: {lat: 41, lng: 12},
                                zoom: 6,
                            };

                            var map = new this.google.maps.Map(mapContainer, mapOptions);
                            map.data.loadGeoJson('/static/geojson/' + map_data[data.city].geo);
                            map.data.setStyle(function(feature) {
                                var id = feature.getProperty('id');
                                var color = '';
                                for (var i in site_colors) {
                                    if (id == i) {
                                        color = site_colors[i];
                                        break;
                                    }
                                }

                                return {
                                    fillColor: color,
                                    strokeWeight: 1
                                };
                            });
                        }

                        var script = document.createElement('script');
                        script.type = 'text/javascript';
                        script.src = 'https://maps.googleapis.com/maps/api/js?key=AIzaSyD1e53HSKxLnwHvu_1r5pxmmAf3I-hpACI&callback=initMap';
                        iframe.contentDocument.getElementsByTagName('head')[0].appendChild(script);
                    };

                    document.querySelector('#google_map_container').appendChild(iframe);
                }
            });
        });
    </script>
</body>
</html>