<!DOCTYPE html>
<html>
<head>
	<title>Presence Employees</title>
    <style type="text/css">
        #map_container {
            position: relative;
            height: 100%;
            min-width: 1500px;
            min-height: 600px;
            padding-bottom: 0px !important;
            float: left;
        }

        #google_map_container {
            margin-top: 100px;
            width: 100%;
            float: left;
        }
    </style>
	<script type="text/javascript" src="{{ url_for('static', filename='libs/d3.v3.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='libs/topojson.v1.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='libs/datamaps.world.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='libs/jquery.2.1.4.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='libs/rainbowvis.js') }}"></script>
    <script type="text/javascript">
        var SCRIPT_ROOT = {{ request.url_root|tojson|safe }};
        var data = {{ data|tojson|safe }};

        var map_data = {
            'bari': {
                'geo': 'grid_bari_edit_id.geojson',
                'scope': 'grid_bari_edit_id',
                'topo': 'bari_topojson.json',
                'center_polygon': 'sid_2321_3_2_0_1'
            },
            'milano': {
                'geo': 'grid_milano_edit_id.geojson',
                'scope': 'grid_milano_edit_id',
                'topo': 'milano_topojson.json',
                'center_polygon': 'sid_3950_3_1_2_1_2_1'
            },
            'napoli': {
                'geo': 'grid_napoli_edit_id.geojson',
                'scope': 'grid_napoli_edit_id',
                'topo': 'napoli_topojson.json',
                'center_polygon': 'sid_2026_3_2_0_2_0'
            },
            'palermo': {
                'geo': 'grid_palermo_edit_id.geojson',
                'scope': 'grid_palermo_edit_id',
                'topo': 'palermo_topojson.json',
                'center_polygon': 'sid_1275_3_2_3_1'
            },
            'roma': {
                'geo': 'grid_roma_edit_id.geojson',
                'scope': 'grid_roma_edit_id',
                'topo': 'roma_topojson.json',
                'center_polygon': 'sid_3420_0_2_3_0_2'
            },
            'torino': {
                'geo': 'grid_torino_edit_id.geojson',
                'scope': 'grid_torino_edit_id',
                'topo': 'torino_topojson.json',
                'center_polygon': 'sid_3877_1_3_3_1_0_0'
            },
            'venezia': {
                'geo': 'grid_venezia_edit_id.geojson',
                'scope': 'grid_venezia_edit_id',
                'topo': 'venezia_topojson.json',
                'center_polygon': 'sid_3693_0_0_0_2'
            },
        };
    </script>
</head>
<body>
    <a id="companies_layers" href="{{ request.url_root|safe }}companies_layers/">Companies Layers</a> | 
    <a id="companies" href="{{ request.url_root|safe }}companies/">Companies</a> | 
    <a id="presence" href="{{ request.url_root|safe }}presence/">Presence</a>

    <br/>
    <br/>

    <div id="presence_menu">
        <a href="{{ request.url_root|safe }}presence/bari/residents">Bari residents</a> | 
        <a href="{{ request.url_root|safe }}presence/milano/residents">Milano residents</a> | 
        <a href="{{ request.url_root|safe }}presence/napoli/residents">Napoli residents</a> | 
        <a href="{{ request.url_root|safe }}presence/palermo/residents">Palermo residents</a> | 
        <a href="{{ request.url_root|safe }}presence/roma/residents">Roma residents</a> | 
        <a href="{{ request.url_root|safe }}presence/torino/residents">Torino residents</a> | 
        <a href="{{ request.url_root|safe }}presence/venezia/residents">Venezia residents</a>
        <br/>
        <br/>
        <a href="{{ request.url_root|safe }}presence/bari/employees">Bari employees</a> | 
        <a href="{{ request.url_root|safe }}presence/milano/employees">Milano employees</a> | 
        <a href="{{ request.url_root|safe }}presence/napoli/employees">Napoli employees</a> | 
        <a href="{{ request.url_root|safe }}presence/palermo/employees">Palermo employees</a> | 
        <a href="{{ request.url_root|safe }}presence/roma/employees">Roma employees</a> | 
        <a href="{{ request.url_root|safe }}presence/torino/employees">Torino employees</a> | 
        <a href="{{ request.url_root|safe }}presence/venezia/employees">Venezia employees</a>
    </div>

    <br/>
    <br/>
    <br/>

    <div id="map_container"></div>
    <div id="google_map_container"></div>

	<script type="text/javascript">
        function buildPopUpData() {
            var popup_data = {};

            for (var i = 0; i < data.process_data.length; i++) {
                popup_data['sid_' + data.process_data[i][0]] = {
                    'value': data.process_data[i][2]
                }
            }

            return popup_data;
        }

		var width = $('#map_container').width();
        var height = $('#map_container').height();
        $.getJSON('/static/geojson/' + map_data[data.city].geo, function(geojson_data) {
            map = new Datamap({
                element: document.getElementById('map_container'),
                responsive: true,
                scope: map_data[data.city].scope,
                data: buildPopUpData(),
                geographyConfig: {
                    dataUrl: '/static/topojson/' + map_data[data.city].topo,
                    borderWidth: 0.2,
                    popupTemplate: function(geo, popup_data) {
                        var avg_type = (data.type == 'residents') ? 'Residents' : 'Employees';
                        return [
                            '<div class="hoverinfo">',
                            '<strong>' + geo.properties.id + '</strong><br/>',
                            'Avg. ' + avg_type + ': ' + parseInt(popup_data.value),
                            '</div>'
                        ].join('');
                    }
                },
                fills: {
                    defaultFill: '#C6DBEF'
                },
                setProjection: function(element, options) {
                    var projection = d3.geo.mercator().scale(1).translate([0,0]);
                    // create a path generator.
                    var path = d3.geo.path().projection(projection);
                    // compute bounds of a point of interest, then derive scale and translate
                    var b = path.bounds(geojson_data);
                    var s = .95 / Math.max((b[1][0] - b[0][0]) / width, (b[1][1] - b[0][1]) / height);
                    var t = [(width - s * (b[1][0] + b[0][0])) / 2, (height - s * (b[1][1] + b[0][1])) / 2];
                    // update the projection to use computed scale and translate....
                    projection.scale(s).translate(t);

                    return {path: path, projection: projection};
                },
                done: function(datamap) {
                    var site_colors = {};
                    var domain = [];
                    for (var i = 0; i < data.process_data.length; i++) {
                        domain.push(data.process_data[i][2]);
                    }

                    var range = [];
                    var rainbow = new Rainbow();
                    rainbow.setNumberRange(0, domain.length);
                    rainbow.setSpectrum('#C6DBEF', 'darkblue');
                    for (var i = 0; i < domain.length + 1; i++) {
                        var hexColour = rainbow.colourAt(i);
                        range.push('#' + hexColour);
                    }
                    
                    var color = d3.scale.threshold()
                        .domain(domain)
                        .range(range);

                    for (var i = 0; i < domain.length; i++) {
                        site_colors['sid_' + data.process_data[i][0]] = color(data.process_data[i][2]);
                    }

                    map.updateChoropleth(site_colors);

                    // ====================================================================================

                    // GOOGLE MAP
                    var iframe = document.createElement('iframe');
                    iframe.setAttribute('style', 'width: 100%; height: 1000px');
                    iframe.onload = function() {
                        var doc = iframe.contentDocument;

                        iframe.contentWindow.initMap = function() {
                            var mapContainer =  doc.createElement('div');
                            mapContainer.setAttribute('style', 'width: 100%; height: 1000px');
                            doc.body.appendChild(mapContainer);

                            var mapOptions = {
                                center: {lat: 41, lng: 12},
                                zoom: 6,
                            };

                            var map = new this.google.maps.Map(mapContainer, mapOptions);
                            map.data.loadGeoJson('/static/geojson/' + map_data[data.city].geo);
                            map.data.setStyle(function(feature) {
                                var id = feature.getProperty('id');
                                var color = '';
                                for (var i in site_colors) {
                                    if (id == i) {
                                        color = site_colors[i];
                                        break;
                                    }
                                }

                                return {
                                    fillColor: color,
                                    strokeWeight: 1
                                };
                            });
                        }

                        var script = document.createElement('script');
                        script.type = 'text/javascript';
                        script.src = 'https://maps.googleapis.com/maps/api/js?key=AIzaSyD1e53HSKxLnwHvu_1r5pxmmAf3I-hpACI&callback=initMap';
                        iframe.contentDocument.getElementsByTagName('head')[0].appendChild(script);
                    };

                    document.querySelector('#google_map_container').appendChild(iframe);
                }
            });
        });
	</script>
</body>
</html>